extends layout

mixin small-picture
  - var picSize = 225
  // img(src="public/images/tag.jpg" alt=":(" width="#{picSize}" height="#{picSize}")

mixin status-col(title, id)
  td
    div
      h2= title
    div(id="#{id}") -
      
mixin status
  table#status
    tbody
      tr
        +status-col('START', 'start')
        +status-col('PREVIOUS', 'previous')
        +status-col('CURRENT', 'current')
        +status-col('END', 'end')

mixin us
  div By Lily, Indy, Julia, and Danaë at Hack@Brown

mixin picture-td(id)
  td(id = "#{id}").pic
    +small-picture()

mixin picture-row(id1, id2)
  tr
    +picture-td(id1)
    +picture-td(id2)

mixin picture-choices()
  table#picture-choices
    tbody
      +picture-row('pic1', 'pic2')
      +picture-row('pic3', 'pic4')

mixin tags(showTags)
  td(valign="top")
    div.tag-title Tags:
    div.tags
      if showTags
        ul#tags-list

mixin choose-picture
  table
    tbody
      tr
        td
          +picture-choices()
          +tags(false)
  
mixin choose-tag
  span#previous-link &larr;
  table
    tbody
      tr
        td
          - var picSize = 430
          img(src="public/images/tag.jpg" alt=":(" width="#{picSize}" height="#{picSize}")#chosen-pic
        td
          +tags(true)

mixin end-game
  div(position="absolute") HOOD JOB EVERYBOOODOY
  
block content
  h1 
    span #tag
    span#help ?
  span#about.noshow
    div Find your way from #start to #end by:
    div 1.) selecting one of the four images
    div 2.) clicking on one of its hashtags and
    div 3.) repeating with the next set of images.
    br
    div Thanks to the Hack@Brown coordinators for a great experience.
    br
    div Happy tagging!
  div#choose-picture
    +choose-picture()
  div#choose-tag.noshow
    +choose-tag()
  div#endgame.noshow
    +end-game()
  +status()
  +us()
